# Ignore everything
/*
/.*

# Unlock .local/state but ignore all of its contents
!/.local
/.local/*
!/.local/state
/.local/state/*


# except for this
!/.local/state/bash

# Unlock .config but ignore all of its contents
!/.config
/.config/*

# except for these
!/.config/bat
!/.config/fish
!/.config/gh
!/.config/git
!/.config/helix
!/.gitignore

# Ignore these
/.config/gh/hosts.yml
/.config/fish/fish_variables
/.local/state/bash/history
