# Ignore everything
/*
/.*

# unlock these
!/.gitignore
!/.bashrc
!/.bash_aliases
!/.bash_functions
!/.bash_completions
!/.inputrc
!/.profile

# Unlock .config but ignore all of its contents
!/.config
/.config/*

# except for these
!/.config/bat
!/.config/gh
!/.config/git
!/.config/helix
!/.config/exa
!/.config/pkg
!/.config/starship.toml


# Ignore these
/.config/gh/hosts.yml
/.config/fish/fish_variables